.navbar {
  margin-bottom: 0;
}

#main {
  padding: 0;
  height: 100%;
}

#chat-window {
  height: 100%;
  left: 0px;
  position: fixed;
}

#sidebar {
  background-color: #E0E0E0;
  border-left: 1px solid #343434;
  height: 100%;
  overflow: scroll;
  position: fixed;
  right: 0px;
  z-index: -1;
}

#sidebar .user img {
  border: 1px solid #343434;
  float: left;
  margin-right: 10px;
  width: 20px;
}

#sidebar .user {
  border-bottom: 1px solid #CCC;
  border-top: 1px solid #EFEFEF;
  clear: both;
  display: block;
  padding: 10px 10px;
  width: 100%;
}

#sidebar .user a {
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
}

#sidebar .user a:hover {
  text-decoration: none;
}

.room .room-title {
  padding: 10px;
}
